@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

*{
    font-family: 'Lato';
}
img{
    max-width: 100%;
}
.content_wrapper{
    padding: 30px 10%;
}
.title{
    margin: 30px 0;
    font-weight: 300;
}

a,
button{
    transition: 0.5s;
    &:hover{
        transform: scale(1.05);
    }
}